<%- include("../partials/menu") %>

<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Relatório de Usuários</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <div class="container mt-5">
    <h2 class="mb-4">Relatório de Usuários</h2>

    <% if (removido) { %>
      <div class="alert alert-success">
        Usuário removido com sucesso!
      </div>
    <% } %>

    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Detalhes</th>
          <th>Remover</th>
          <th>Atualizar</th>
        </tr>
      </thead>
      <tbody>
        <% usuarios.forEach(usuario => { %>
          <tr>
            <td><%= usuario.nome %></td>
            <td><%= usuario.email %></td>
            <td>
              <a href="/usuarios/detalhar/<%= usuario._id %>" class="btn btn-sm btn-primary">Detalhar</a>
              </a>
            </td>
            <td>
                <a href="/usuarios/remover/<%= usuario._id %>"  class="btn btn-danger btn-sm" onclick="return confirm('Deseja realmente remover este usuário?')">Remover
            </td>
            <td>
              <a href="/usuarios/atualizar/<%= usuario._id %>" class="btn btn-warning btn-sm">Atualizar</a>
            </td>
            
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
